.table_col_1 {
    grid-template-columns: repeat(1, 1fr);
    /*column-width: 120px;*/
    column-gap: 33px;
    row-gap: 60px;
}

.table_col_2 {
    grid-template-columns: repeat(2, 1fr);
    /*column-width: 120px;*/
    column-gap: 33px;
    row-gap: 60px;
}

.table_col_3 {
    grid-template-columns: repeat(3, 1fr);
    /*column-width: 120px;*/
    column-gap: 33px;
    row-gap: 60px;
}

.table_col_4 {
    grid-template-columns: repeat(4, 1fr);
    column-width: 250px;
    column-gap: 33px;
    row-gap: 60px;
}

.table_col_5 {
    grid-template-columns: repeat(5, 1fr);
    column-width: 200px;
    column-gap: 25px;
    row-gap: 80px;
    color: #f1f1f1;
    /*gap: 100px 80px;*/
}

.table_col_6 {
    grid-template-columns: repeat(6, 1fr);
    column-width: 120px;
    column-gap: 33px;
    row-gap: 60px;
}
