@import "../../vendor/normalize.css";

/* Блок Page */
@import "page.css";

/* Общие компоненты */
/* Блок Logo */
@import "logo/logo.css";
@import "logo/_place/logo_place_header.css";
@import "logo/_place/logo_place_footer.css";

/* Блок Cards */
@import "cards/cards.css";
@import "cards/__item/cards__item.css";
@import "cards/__image/cards__image.css";
@import "cards/__title/cards__title.css";
@import "cards/__description/cards__description.css";

/* Блок Section */
@import "section/section.css";

/* Блок Section-title */
@import "section/section-title/section-title.css";
@import "section/section-title/_theme/section-title_theme_dark.css";

/* Блок Section-subtitle */
@import "section/section-subtitle/section-subtitle.css";
@import "section/section-subtitle/_theme/section-subtitle_theme_dark.css";

/* Блок Two-columns */
@import "two-columns/two-columns.css";
@import "two-columns/__brief/two-columns__brief.css";
@import "two-columns/__main-text/two-columns__main-text.css";
@import "two-columns/__paragraph/two-columns__paragraph.css";
@import "two-columns/__span-accent/two-columns__span-accent.css";

/* Блок Table */
@import "table/table.css";
@import "table/__cell/table__cell.css";
@import "table/__cell/_theme/table__cell_theme_dark.css";
@import "table/__heading/table__heading.css";
@import "table/__heading/_theme/table__heading_theme_dark.css";
@import "table/__text/table__text.css";
@import "table/__text/_theme/table__text_theme_dark.css";
@import "table/_theme/table_theme_dark.css";

/* Блок */
@import "rotation/rotation.css";

/* Компоненты страницы */

/* Блок Header */
@import "header/header.css";
@import "header/__title/header__title.css";
@import "header/__subtitle/header__subtitle.css";
@import "header/__link/header__link.css";
@import "header/__square-pic/header__square-pic.css";
@import "header/__main-illustration/header__main-illustration.css";

/* Блок Description */
@import "description/description.css";

/* Блок Techniques */
@import "techniques/techniques.css";

/* Блок Video */
@import "video/video.css";
@import "video/__iframes/video__iframes.css";
@import "video/__iframe/video__iframe.css";

/* Блок Oakley */
@import "oakley/oakley.css";

/* Блок Feynman */
@import "feynman/feynman.css";
@import "feynman/__title/feynman__title.css";
@import "feynman/__subtitle/feynman__subtitle.css";
@import "feynman/__link/feynman__link.css";

/* Блок Digits */
@import "digits/digits.css";

/* Блок Khan */
@import "khan/khan.css";
@import "khan/__container/khan__container.css";
@import "khan/__author/khan__author.css";
@import "khan/__title/khan__title.css";
@import "khan/__quote/khan__quote.css";
@import "khan/__quote-author/khan__quote-author.css";
@import "khan/__quote-author-subline/khan__quote-author-subline.css";
@import "khan/__book-container/khan__book-container.css";
@import "khan/__book-pic/khan__book-pic.css";
@import "khan/__buy-link/khan__buy-link.css";

/* Блок Kaufman */
@import "kaufman/kaufman.css";
@import "kaufman/__triangle/kaufman__triangle.css";

/* Блок Resources */
@import "resources/resources.css";
@import "resources/__logo-zone/resources__logo-zone.css";
@import "resources/__link/resources__link.css";

/* Блок Footer */
@import "footer/footer.css";
@import "footer/__columns/footer__columns.css";
@import "footer/__column/footer__column.css";
@import "footer/__author/footer__author.css";
@import "footer/__column-heading/footer__column-heading.css";
@import "footer/__column-link/footer__column-link.css";
@import "footer/__social-icon/footer__social-icon.css";
@import "footer/__social-icon/_type/footer__social-icon_type_youtube.css";
@import "footer/__social-icon/_type/footer__social-icon_type_vk.css";
@import "footer/__social-icon/_type/footer__social-icon_type_tiktok.css";
@import "footer/__column-links/footer__column-links.css";

@import "fonts.css";

/* Сброс для body */
.body {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

