.resources__link_resources-n1 {
    background-image: url("../../../../../images/logo/resources-n1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
