.resources__link_resources-polka {
    background-image: url("../../../../../images/logo/resources-polka.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
