.resources__link_resources-strelka {
    background-image: url("../../../../../images/logo/resources-strelka.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
