.header__link {
  color: #2f80ed;
  text-decoration: none;
  opacity: 1;
  transition: ease .5s;
}

.header__link::before {
  margin-left: 10px;
}

.header__link:hover {
  opacity: .7;
  transition: ease .5s;
}
