.footer__social-icon_type_youtube {
    background-image: url("../../../../images/youtube-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
