@import "__cell/table__cell.css";
@import "__heading/table__heading.css";
@import "__text/table__text.css";
@import "_theme/table_theme_dark.css";
@import "_col/table_col.css";

/*.table {*/
/*    padding-top: 60px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    width: 1100px;*/
/*    justify-content: space-between;*/
/*}*/
.table {
    padding-top: 60px;
    display: grid;
    /*column-count: 5;*/
    /*flex-direction: column;*/
    /*columns: 4;*/
    /*column-gap: 30px;*/
    /*flex-wrap: wrap;*/
    width: 1100px;

    /*justify-content: space-between;*/

    /*grid-template-rows: 1fr 1fr 1fr;*/


}
