.footer__columns {
    display: flex;
    /*flex: 1;*/
    /*flex-flow: row;*/
    width: 90%;
    /*flex-basis: 711px;*/
    margin: auto;
    /*flex-grow: 2;*/
    /*border: 1px solid greenyellow;*/
}
