@import "_type/cards__image_type_attention.css";
@import "_type/cards__image_type_recall.css";
@import "_type/cards__image_type_interleaving.css";
@import "_type/cards__image_type_question.css";
@import "_type/cards__image_type_competence.css";

.cards__image {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin: 60px 40px 43px 40px;
}

