.footer__column-link {
    color: #f1f1f1;
    display: flex;
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
    align-items: center;
    /*border: 1px solid #f1f1f1;*/
    text-decoration: none;
}

.footer__column-link:last-child {
    margin-bottom: 16px;
}
