.footer__social-icon_type_tiktok {
    background-image: url("../../../../../images/tiktok-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
