.kaufman__triangle {
  height: 877px;
  width: 877px;
  right: -210px;
  top: 0;
  background-image: url("../../../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
}
