/* Общие компоненты */
@import "../library.blocks/logo/logo.css";
@import "../library.blocks/section/section.css";
@import "../library.blocks/section/section-title/section-title.css";
@import "../library.blocks/section/section-subtitle/section-subtitle.css";
@import "../library.blocks/two-columns/two-columns.css";
@import "../library.blocks/cards/cards.css";
@import "../library.blocks/table/table.css";
/* Компоненты страницы */
@import "../common.blocks/page/header/header.css";
@import "../common.blocks/page/description/description.css";
@import "../common.blocks/page/techniques/techniques.css";
@import "../common.blocks/page/video/video.css";
@import "../common.blocks/page/oakley/oakley.css";
@import "../common.blocks/page/feynman/feynman.css";
@import "../common.blocks/page/digits/digits.css";
@import "../common.blocks/page/kaufman/kaufman.css";
@import "../common.blocks/page/khan/khan.css";
@import "../common.blocks/page/resources/resources.css";
@import "../common.blocks/page/footer/footer.css";
@import "../common.blocks/page/rotation/rotation.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

.page {
    min-width: 1100px;
    max-width: 1600px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter/Inter-Regular.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-SemiBold.woff') format('woff'),
    url('../fonts/Inter/Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Bold.woff') format('woff'),
    url('../fonts/Inter/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
}
