/* Блок Page */
@import "../blocks/page/page.css";

/* Общие компоненты */
/* Блок Logo */
@import "../blocks/page/logo/logo.css";
@import "../blocks/page/logo/_place/logo_place_header.css";
@import "../blocks/page/logo/_place/logo_place_footer.css";

/* Блок Cards */
@import "../blocks/page/cards/cards.css";
@import "../blocks/page/cards/__item/cards__item.css";
@import "../blocks/page/cards/__image/cards__image.css";
@import "../blocks/page/cards/__title/cards__title.css";
@import "../blocks/page/cards/__description/cards__description.css";

/* Блок Section */
@import "../blocks/page/section/section.css";

/* Блок Section-title */
@import "../blocks/page/section/section-title/section-title.css";
@import "../blocks/page/section/section-title/_theme/section-title_theme_dark.css";

/* Блок Section-subtitle */
@import "../blocks/page/section/section-subtitle/section-subtitle.css";
@import "../blocks/page/section/section-subtitle/_theme/section-subtitle_theme_dark.css";

/* Блок Two-columns */
@import "../blocks/page/two-columns/two-columns.css";
@import "../blocks/page/two-columns/__brief/two-columns__brief.css";
@import "../blocks/page/two-columns/__main-text/two-columns__main-text.css";
@import "../blocks/page/two-columns/__paragraph/two-columns__paragraph.css";
@import "../blocks/page/two-columns/__span-accent/two-columns__span-accent.css";

/* Блок Table */
@import "../blocks/page/table/table.css";
@import "../blocks/page/table/__cell/table__cell.css";
@import "../blocks/page/table/__cell/_theme/table__cell_theme_dark.css";
@import "../blocks/page/table/__heading/table__heading.css";
@import "../blocks/page/table/__heading/_theme/table__heading_theme_dark.css";
@import "../blocks/page/table/__text/table__text.css";
@import "../blocks/page/table/__text/_theme/table__text_theme_dark.css";
@import "../blocks/page/table/_theme/table_theme_dark.css";

/* Блок */
@import "../blocks/page/rotation/rotation.css";

/* Компоненты страницы */

/* Блок Header */
@import "../blocks/page/header/header.css";
@import "../blocks/page/header/__title/header__title.css";
@import "../blocks/page/header/__subtitle/header__subtitle.css";
@import "../blocks/page/header/__link/header__link.css";
@import "../blocks/page/header/__square-pic/header__square-pic.css";
@import "../blocks/page/header/__main-illustration/header__main-illustration.css";

/* Блок Description */
@import "../blocks/page/description/description.css";

/* Блок Techniques */
@import "../blocks/page/techniques/techniques.css";

/* Блок Video */
@import "../blocks/page/video/video.css";
@import "../blocks/page/video/__iframes/video__iframes.css";
@import "../blocks/page/video/__iframe/video__iframe.css";

/* Блок Oakley */
@import "../blocks/page/oakley/oakley.css";

/* Блок Feynman */
@import "../blocks/page/feynman/feynman.css";
@import "../blocks/page/feynman/__title/feynman__title.css";
@import "../blocks/page/feynman/__subtitle/feynman__subtitle.css";
@import "../blocks/page/feynman/__link/feynman__link.css";

/* Блок Digits */
@import "../blocks/page/digits/digits.css";

/* Блок Khan */
@import "../blocks/page/khan/khan.css";
@import "../blocks/page/khan/__container/khan__container.css";
@import "../blocks/page/khan/__author/khan__author.css";
@import "../blocks/page/khan/__title/khan__title.css";
@import "../blocks/page/khan/__quote/khan__quote.css";
@import "../blocks/page/khan/__quote-author/khan__quote-author.css";
@import "../blocks/page/khan/__quote-author-subline/khan__quote-author-subline.css";
@import "../blocks/page/khan/__book-container/khan__book-container.css";
@import "../blocks/page/khan/__book-pic/khan__book-pic.css";
@import "../blocks/page/khan/__buy-link/khan__buy-link.css";

/* Блок Kaufman */
@import "../blocks/page/kaufman/kaufman.css";
@import "../blocks/page/kaufman/__triangle/kaufman__triangle.css";

/* Блок Resources */
@import "../blocks/page/resources/resources.css";
@import "../blocks/page/resources/__logo-zone/resources__logo-zone.css";
@import "../blocks/page/resources/__link/resources__link.css";

/* Блок Footer */
@import "../blocks/page/footer/footer.css";
@import "../blocks/page/footer/__columns/footer__columns.css";
@import "../blocks/page/footer/__column/footer__column.css";
@import "../blocks/page/footer/__author/footer__author.css";
@import "../blocks/page/footer/__column-heading/footer__column-heading.css";
@import "../blocks/page/footer/__column-link/footer__column-link.css";
@import "../blocks/page/footer/__social-icon/footer__social-icon.css";
@import "../blocks/page/footer/__social-icon/_type/footer__social-icon_type_youtube.css";
@import "../blocks/page/footer/__social-icon/_type/footer__social-icon_type_vk.css";
@import "../blocks/page/footer/__social-icon/_type/footer__social-icon_type_tiktok.css";
@import "../blocks/page/footer/__column-links/footer__column-links.css";

@import "../blocks/page/fonts.css";

/* Сброс для body */
.body {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

